# Python
__pycache__/
*.pyc
.venv/
.env

# Java / Spring Boot
target/
*.class

# Node / React
frontend/node_modules/
frontend/build/

rag_pipeline/models/
*.pt
*.bin
*.safetensors

# Misc
.idea/
.vscode/
.DS_Store
